head
    title RDLY
    
body
  +layout

template(name="layout")
  +navbar
  
  .row
    .container
      +welcome

  .row
    .container
      +main
      
template(name="main")  
  .main
    if currentUser
      +entries
    else 
      +loginButtons(align="right")

template(name="welcome")
  .welcome
    h3 Do you love APIs, Smart tech
    p.lead It's mainly about UX, Smart Cities, APIs, Web Development, Meteor JS, Startups and more.
    form
      .col-md-6
        input#inputEmail.form-control(type='text', placeholder='Email')
      .col-md-6
        submit.btn.btn-lg.btn-primary Follow

template(name="navbar")
  nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        a.navbar-brand(href='#') 
          img(src="img/logo.svg")
      ul.nav.navbar-nav.navbar-right
        li
          +loginButtons
  

template(name="tags")
  .tags
    p #{hello}
    ul
    each tag
      .tag
        li #{entry_id}, #{tagged}
    
template(name="entries")
  .entries.list-view
      p.small #{totalEntries} new - 4 unread
      ul
      each entry
        li.entry 
          strong #{title} 
          | Stripped text to go here
          | by #{author} (#{origin.htmlUrl})
